body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    max-width: 900px;
    margin: auto;
    background: rgb(144, 242, 255);
    padding: 20px;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1, h2 {
    text-align: center;
}

.profile {
    display: flex;
    align-items: center;
    gap: 20px;
}

.profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.info p {
    font-size: 16px;
}

.photo-group {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 15px;
}

.photo-group img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.hobbies ul {
    list-style: none;
    padding: 0;
}

.hobbies li {
    font-size: 18px;
    margin: 6px 0;
}

.contact a {
    text-decoration: none;
    color: blue;
    font-weight: bold;
}

.contact a:hover {
    color: darkblue;
}
